<!--
<!--
 * @Author: hucheng
 * @Date: 2020-06-22 06:48:36
 * @Description: here is des
--> 
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="./index.css" rel="stylesheet">
</head>
<body>
    <h1><%= title %></h1>
    <img class="img" src="./koa.jpg">
    <h3>hello, <%= userInfo.userName %></h3>
    <ul>
        <li><a href="/">/</a></li>
        <li><a href="/index">/index</a></li>
        <li><a href="/todo">/todo</a></li>
    </ul>
</body>
</html>