<!--
<!--
 * @Author: hucheng
 * @Date: 2020-06-22 06:48:36
 * @Description: here is des
--> 
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="./index.css" rel="stylesheet">
</head>
<body>
    <h1><%= title %></h1>
    <img class="img" src="./koa.jpg">
    专家导读在所有挑战性的职业中，平静地接受拒绝是必不可少的能力。天性乐观者适合做挑战性的工作。乐观态度是一种情绪智力。乐观与希望可以后天学习，气质可以被经验改变。能力不是固定的，能力的发挥有极大的变化空间，信心影响能力的发挥。乐观成就伟大。乐观者在推销行业的成功说明了乐观态度是一种情绪智力。推销员受到的每一次拒绝，都是一个小小的挫败。对挫败的情绪反应是调动足够的激励继续努力的关键。
    任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力才能平静下来，集中注意力开始执行任务——第一步需要自律。而一旦注意力锁定于目标任务，就会激发出一种内在的力量，不仅能够减缓情绪波动，还使完成任务变得轻而易举。如果人们发现某项任务属于他们所擅长的领域，但又稍微超出了他们的能力范围，在这种时候也可以进入涌流状态。用齐克森米哈里的话来说：“人们似乎在任务要求稍稍高于平常时最能集中精神，而且他们在这个时候的表现也会优于平常。如果对他们的要求过低，人们就会觉得乏味。如果要求过高难以应付，人们就会产生焦虑。涌流存在于乏味和焦虑之间的微妙地带。”自发的愉悦、优美以及有效性是涌流的特征，涌流与情绪失控导致边缘神经系统汹涌澎湃冲昏大脑是两码事。涌流状态中的注意力是放松而又高度集中的。这种注意力集中，与我们疲劳或乏味时强打精神，或焦虑、愤怒等侵扰性情绪控制注意力的情况完全不同。
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    涌流是一种忘我的状态，与沉思和忧虑正好相反。处于涌流状态的人们并不是在精神紧张地冥思苦想，而是专注于当前的任务，失去所有的自我意识，把心里常常惦记的健康、金钱甚至成功通通抛诸脑后。从这个意义上说，涌流是无我的时刻。看似矛盾的是，处于涌流之中的人们对所从事的活动表现出很强的控制力，他们对不断变化的任务要求反应自如。在涌流之中，人们的表现达到了巅峰状态，但他们其实并不关心自己的表现，想着成功或失败——行为本身的绝对愉悦才是他们的动机。进入涌流状态有几种途径。一是有意识地把注意力集中于当前的任务。涌流的本质是注意力高度集中。进入涌流的通道似乎存在一个反馈回路：个体需要一定的努力
    
    

</body>
</html>